<template>
  <div class="row">
    <table>
    <thead>
    <tr>
      <th>Date</th>
      <th class="text-right">Close</th>
      <th class="text-right">Volume</th>
      <th class="text-right">On-Balance Volume</th>
      <th class="text-right">Dominance</th>
      </tr>
      </thead>
    <tbody>
      <tr v-for="(datum, $index) in data">
        <td>{{datum.date}}</td>
      <td class="text-right" :class="getClass($index, 'close')">{{datum.close | currency }} ({{getChange($index, 'close')}})</td>
      <td class="text-right" :class="getClass($index, 'volumeto')">{{formatNumber(datum.volumeto)}} ({{getChange($index, 'volumeto')}})</td>
      <td class="text-right" :class="getClass($index, 'obv')">{{formatNumber(datum.obv)}} ({{getChange($index, 'obv')}})</td>
      <th class="text-right" :class="getClass($index, 'dom')">{{datum.dom}} ({{getChange($index, 'dom')}})</th>
    </tr>
    </tbody>
    </table>
  </div>
</template>
<script>

export default {
  async beforeMount () {
    const coin = this.$route.params.coin
    if (!this.$store.getters.checkCoin(coin)) {
      console.log('coin not found', coin)
      return this.$router.push('/')
    }
    try {
      const prices = await this.$axios.$get(coin + '/obv')
      this.prices = prices.reverse()
      this.dominance = (await this.$axios.$get(coin + '/dominance')).reverse()
    } catch (error) {
      console.error(error)
    }
  },
  computed: {
    data () {
      if (!this.prices || !this.dominance) {
        return []
      }
      const result = {}

      this.prices.forEach(price => {
        result[this.$moment(price.timestamp).format('LL')] = price
      })
      this.dominance.forEach(dom => {
        const formatedDate = this.$moment(dom.timestamp).format('LL')
        const price = result[formatedDate]
        if (!price) {
          return
        }
        result[formatedDate] = Object.assign(price, dom)
        result[formatedDate].date = formatedDate
      })

      return Object.keys(result).map(key => result[key])
    }
  },
  data () {
    return {
      prices: null,
      dominance: null
    }
  },
  methods: {
    async getData () {
      const from = this.coin
      const to = 'USD'
      const methodTimeframe = 'histo' + this.capitalize(this.timeFrame)
      try {
        const [cc, dominance] = await Promise.all([
          this.$cc[methodTimeframe](from, to, { limit: 500 }),
          this.$marketcap.getDominance(this.coin, this.timeFrame)
        ])

        let result = []
        if (this.timeFrame === 'day') {
          for (let i = 0; i < cc.length; i++) {
            const cryptoCompare = cc[i]
            const marketcap = dominance[i]
          }
        } else {
          console.log('dominance data only available for day')
          let result = cc
        }

        this.getObv(result)
        this.getDonchian(result)
        this.data = null
        this.$nextTick(() => {
          this.data = result
        })
      } catch (error) {
        console.error(error)
        this.error = error
      }
    },
    getObv (data) {
      data[data.length - 1].obv = 0
      let currentObv = data[data.length - 1].volumeto

      for (let i = data.length - 1; i > 0; i--) {
        const previous = data[i]
        const current = data[i - 1]

        if (current.close > previous.close) {
          currentObv += current.volumeto
        } else if (current.close < previous.close) {
          currentObv -= current.volumeto
        }

        data[i - 1].obv = currentObv
      }

      return data
    },
    getClass (index, prop) {
      if (index >= this.data.length - 1) {
        return ''
      }
      const current = this.data[index][prop]
      const prev = this.data[index + 1][prop]
      if (current > prev) {
        return 'increase'
      }
      if (prev > current) {
        return 'decrease'
      }
      return ''
    },
    getChange (index, prop) {
      if (index >= this.data.length - 1) {
        return ''
      }
      const current = this.data[index][prop]
      const prev = this.data[index + 1][prop]
      const result = (current - prev) / prev
      return result.toFixed(2)
    }
  }
}
</script>