<template>
  <div>
    <div class="back-link">
    <nuxt-link :to="'/'">Back</nuxt-link>
      </div>
    <div class="time-frames">
      <nuxt-link :to="getTimePath(time)" v-for="time in validTimes" :key="time" :class="{active: time === timeFrame}">
        {{ time | capitalize }}
      </nuxt-link>
    </div>
    <h1>{{ coin | uppercase }}</h1>
    <div v-if="!error">
      <div v-if="data">
        <coin-table :data="data" :time="timeFrame"></coin-table>
      </div>
      <h2 v-else>
        Updating...
      </h2>
    </div>
    <div v-else>
      <h1>Error</h1>
      {{ error }}
    </div>
  </div>
</template>
<script>
  import CoinTable from '../components/CoinTable'

  export default {
    components: { CoinTable },
    async beforeMount () {
      this.fetchData()
    },
    computed: {
      coin () {
        return this.$route.params.coin.toUpperCase()
      },
      validTimes () {
        return ['day', 'hour', 'minute']
      },
      timeFrame () {
        const query = this.$route.query.time
        if (this.validTimes.indexOf(query) > -1) {
          return query
        }
        return 'day'
      }
    },
    data () {
      return {
        data: null,
        error: null
      }
    },
    methods: {
      getTimePath (time) {
        return this.$route.path + '?time=' + time
      },
      async fetchData () {
        const queries = ['limit', 'time', 'high', 'low']
        let path = this.coin
        const queriesArray = []

        queries.forEach(query => {
          const routeQuery = this.$route.query[query]
          if (typeof routeQuery !== 'undefined') {
            queriesArray.push(query + '=' + routeQuery)
          }
        })

        for (let i = 0; i < queriesArray.length; i++) {
          if (i === 0) {
            path += '?' + queriesArray[i]
          } else {
            path += '&' + queriesArray[i]
          }
        }

        this.data = await this.$axios.$get(path)
      },
    }
  }
</script>
<style lang="scss">
  .back-link {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .time-frames {
    margin-bottom: 16px
  }
</style>