<template>
<div style="height: 100%; width: 100%">
  <div v-if="isReady">
    <h1 class="header">{{ coin }}</h1>
  <exchanges-chart :chart-data="chartData"></exchanges-chart>
  <form class="coin-form" @submit.prevent="fetchData">
    <fieldset>
    <input type="text" id="coin" v-model="coin">
    <button class="button-primary">Update Coin</button>
    </fieldset>
  </form>
  </div>
  <div class="loading" v-else>
    Loading...
  </div>

</div>
</template>
<script>
  import ExchangesChart from '~/components/ExchangesChart'

  export default {
    components: { ExchangesChart },
    beforeMount () {
      this.fetchData()
    },
    methods: {
      async fetchBinanceData () {
        const data = await this.$binance.prices(this.coin)
        this.binance = data.map(({ timestamp, close }) => {
          return { x: timestamp, y: close }
        })
      },
      async fetchTrendsData () {
        const query = '?q=' + this.coin
        const data = await this.$axios.$get('trends' + query)
        this.trends = data.map(({ timestamp, value }) => {
          return { x: timestamp, y: value }
        })
      },
      async fetchData () {
        this.isReady = false
        await Promise.all([
          this.fetchBinanceData(),
          this.fetchTrendsData()
        ])
        this.isReady = true
      },
      slice (earliest, data) {
        const result = []

        if (!data) {
          return result
        }

        let i = 0
        data = data.slice().reverse()

        while (data[i] && data[i].x >= earliest) {
          result.push(data[i++])
        }
        return result
      },
    },
    computed: {
      data () {
        const earliestBinance = this.binance[0].x
        const earliestTrend = this.trends[0].x
        let binance = this.binance
        let trends = this.trends

        if (earliestBinance < earliestTrend) {
          binance = this.slice(earliestTrend, this.binance)
        } else {
          trends = this.slice(earliestBinance, this.trends)
        }
        return { trends, binance }
      },
      chartData () {
        return [
          { label: 'Trends', data: this.data.trends },
          { label: 'Binance', data: this.data.binance }
        ]
      }
    },
    data () {
      return {
        binance: [],
        trends: [],
        coin: 'eth',
        chart: null,
        isReady: false
      }
    }
  }
</script>
<style lang="scss">
  .header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  form.coin-form fieldset {
    margin-top: 4rem;
    text-align: center;

    input,
    button {
      display: inline-block;
      width: auto;
      margin-right: 2rem;
    }
  }
</style>