<template>
  <candlestick-chart :data="data" :highs="highs" :lows="lows"></candlestick-chart>
</template>
<script>
  import CandlestickChart from '../components/CandlestickChart'
  import axios            from 'axios'

  const coin = 'xmr'

  export default {
    components: { CandlestickChart },
    async asyncData () {
      const { data } = await axios.get('xmr')
      return {
        data
      }
    },
    computed: {
      highs () {
        return []
        // const { data } = donchian(this.data, this.highPeriod)
        // return data
      },
      lows () {
        return []
        // const { data } = donchian(this.data, this.lowPeriod)
        // return data
      }
    },
    methods: {},
    data () {
      return {
        highPeriod: 36,
        lowPeriod: 106,
        coin: coin,
        data: [],
      }
    }
  }
</script>