<template>
  <div class="home-wrapper">
    <div class="row row-center">
    <h1 class="main-heading">Bittionaire</h1>
  </div>
    <div v-for="coin in coins">
      <nuxt-link :to="getSymbol(coin)" :key="coin">
        {{ coin }}
      </nuxt-link>
    </div>
  </div>
</template>
<script>
  export default {
    computed: {
      coins () {
        return this.$store.getters.coinNames
      },
      indicators () {
        return this.$store.state.indicators
      }
    },
    methods: {
      getSymbol (name) {
        return this.$store.getters.getSymbol(name)
      }
    }
  }
</script>
<style lang="scss">
  .home-wrapper {
    * {
      text-align: center;
    }

    .main-heading {
      width: 100%;
    }
  }
</style>