<template>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</template>
<script>
  export default {
    name: 'CandlestickChart',
    mounted () {
      this.renderChart()
    },
    props: {
      data: {
        required: Array
      },
      highs: {
        type: Array
      },
      lows: {
        type: Array
      }
    },
    data () {
      return {
        chart: null
      }
    },
    computed: {
      candleStickData () {
        return {
          type: 'candlestick',
            showInLegend: true,
          name: 'Stock Price',
          yValueFormatString: '$#,##0.00',
          xValueFormatString: 'MMMM',
          dataPoints: this.data.map(datum => {
            return { x: new Date(datum.timestamp), y: [datum.open, datum.high, datum.low, datum.close] }
          })
        }
      },
      chartData () {
        const data = []

        data.push(this.candleStickData)

        if (this.highs) {
          data.push(this.getTrendLine('highs'))
        }

        if (this.lows) {
          data.push(this.getTrendLine('lows'))
        }

        return data
      }
    },
    methods: {
      getTrendLine (type) {
        if (type !== 'highs' && type !== 'lows') {
          throw new Error('Trendline type must be "highs" or "lows"')
        }
        const data =  {
          type: 'line',
          showInLegend: true,
          axisYType: 'secondary',
          yValueFormatString: '$#,##0.00bn',
          xValueFormatString: 'MMMM',
        }

        const prop = type === 'highs' ? 'movingHigh' : 'movingLow'

        data.name = this.capitalize(type)
        data.dataPoints = this[type].map(datum => {
          return { x: new Date(datum.timestamp), y: datum[prop]}
        })

        return data
      },
      renderChart () {
        this.chart = new CanvasJS.Chart('chartContainer', {
          animationEnabled: true,
          theme: 'light2', // "light1", "light2", "dark1", "dark2"
          zoomEnabled: true,
          title: {
            text: 'Facebook Stock Price - 2016'
          },
          subtitles: [{
            text: 'All Prices are in USD'
          }],
          axisX: {
            valueFormatString: 'MMM'
          },
          axisY: {
            includeZero: false,
            prefix: '$',
            title: 'Price'
          },
          axisY2: {
            prefix: '$',
            suffix: 'bn',
            title: 'Revenue & Income',
            tickLength: 0
          },
          toolTip: {
            shared: true
          },
          legend: {
            reversed: true,
            cursor: 'pointer',
            itemclick: this.toggleDataSeries
          },
          data: this.chartData
        })
        this.chart.render()
      },
      toggleDataSeries (e) {
        e.dataSeries.visible = !(typeof (e.dataSeries.visible) === 'undefined' || e.dataSeries.visible)
        e.chart.render()
      }
    }
  }
</script>