<template>
    <table class="coin-table">
    <thead>
    <tr>
      <th>Date <span v-tooltip="`Indicates Donchian buy (${buyPeriod}) or sell (${sellPeriod})`">(?)</span></th>
      <th>Donchian <span v-tooltip="'Starts with $100'">(?)</span></th>
      <th class="text-right">Close</th>
      <th class="text-right">On-Balance Volume</th>
      <th class="text-right">Volume</th>
      <th class="text-right">Dominance <span v-tooltip="'Only \'day\' data available'">(?)</span></th>
      </tr>
      </thead>
    <tbody v-if="isReady">
      <tr v-for="(datum, $index) in data">
        <td :class="{'breakout-high': datum.breakoutHigh, 'breakout-low': datum.breakoutLow}">{{(datum.time * 1000) | date('lll')}}</td>
        <td><span v-if="$index === 0">{{ datum.donchian | currency }}</span><span v-else>{{ datum.donchian || '' }}</span></td>
        <td class="text-right" :class="getClass($index, 'close')">{{datum.close | currency }} ({{getChange($index, 'close')}})</td>
        <td class="text-right" :class="getClass($index, 'obv')">{{formatNumber(datum.obv)}} ({{getChange($index, 'obv')}})</td>
        <td class="text-right" :class="getClass($index, 'volumeto')">{{formatNumber(datum.volumeto)}} ({{getChange($index, 'volumeto')}})</td>
        <td class="text-right" :class="getClass($index, 'dominance')" v-if="time === 'day'"><span v-if="datum.dominance"> {{datum.dominance.toFixed(2)}} ({{getChange($index, 'dominance')}})</span></td>
      </tr>
      <tr v-if="data.length === 0">
        <td colspan="5">
          No data available
        </td>
      </tr>
    </tbody>
      <tbody v-else>
        <tr>
          <td colspan="5">
            Loading...
          </td>
        </tr>
      </tbody>
    </table>
</template>
<script>
  export default {
    name: 'CoinTable',
    props: {
      data: {
        type: Array,
        default: null
      },
      time: {
        type: String
      }
    },
    computed: {
      isReady () {
        return this.data
      },
      buyPeriod () {
        return this.$route.query.buy || 4
      },
      sellPeriod () {
        return this.$route.query.sell || 5
      }
    },
    methods: {
      getClass (index, prop) {
        if (index >= this.data.length - 2) {
          return ''
        }

        const current = this.data[index][prop]
        const prev = this.data[index + 1][prop]

        if (current > prev) {
          return 'increase'
        }
        if (prev > current) {
          return 'decrease'
        }
        return ''
      },
      getChange (index, prop) {
        if (index >= this.data.length - 2) {
          return ''
        }

        const current = this.data[index][prop]
        const prev = this.data[index + 1][prop]

        const result = (current - prev) / prev
        return result.toFixed(2)
      }
    }
  }
</script>
<style lang="scss">
  .coin-table {
    th,
    td {
      white-space: nowrap;
    }
  }
  .breakout-high {
    background: rgba(0, 225, 0, 0.2);
  }

  .breakout-low {
    background: rgba(255, 0, 0, 0.39)
  }
</style>